<div class="footer">
  <div class="footer-contents">
    <div class="footer-inner-contents">
      <div class="footer-text-contents">
        <img src="./assets/LogoNoBorder.svg" alt="">
      </div>
      <div class="footer-text-contents">
        <div class="footer-icons">
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="footer-icons">
          <a href="mailto:stackqueue2023@gmail.com" target="_blank">turfspotter&#64;gmail.com</a>
        </div>
      </div>
      <div class="footer-text-contents">
        <div class="footer-icons">
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="footer-icons">
          <a href="">+91 73053 70425</a>
        </div>
      </div>
    </div>
    <div class="footer-inner-contents">
      <div class="footer-text-contents">
        <label for="">Social Links</label>
      </div>
      <div class="footer-text-contents">
        <div class="footer-icons">
          <input type="text" placeholder="Enter your Email">
        </div>
        <div class="footer-icons input-icon">
          <a href=""><i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="footer-text-contents social-medias">
        <div class="social-media-icons">
         <a href=""> <i class="fa-brands fa-facebook"></i> </a>
        </div>
        <div class="social-media-icons">
          <a href=""><i class="fa-brands fa-x-twitter"></i></a>
        </div>
        <div class="social-media-icons">
         <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        </div>
        <div class="social-media-icons">
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
  </div>
</div>
  <div class="footer-contents">
    <div class="footer-inner-contents">
      <label for="">copyrights</label>
    </div>
    <div class="footer-inner-contents policies">
      <div class="inner-policies">
        <a href="">privacy policy</a>
      </div>
      <div class="inner-policies">
        <a href="">Terms & Conditions</a>
      </div>
    </div>
  </div>
</div>
