<div class="Aboutus">
  <div class="Aboutus-contents">
    <div class="Aboutus-inner-contents">
      <div class="images">
        <img src="./assets/About/section1/picture-1.svg" alt="">
        <div class="dots">
          <img src="./assets/About/section1/dots.svg" alt="">
        </div>
        <div class="success">
          <img src="./assets/About/section1/success.svg" alt="">
        </div>

      </div>
      <div class="subimages">
        <div class="images-1">
          <img src="./assets/About/section1/picture-2.svg" alt="">
        </div>
        <div class="images-1">
          <img src="./assets/About/section1/picture-3.svg" alt="">
        </div>
      </div>

    </div>
    <div class="Aboutus-inner-contents side-contents">
      <div class="contents">
        <h4>About us</h4>
      </div>
      <div class="contents">
        <h2>Let's Know <span>About us</span></h2>
      </div>
      <div class="contents">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt itaque iusto magnam quasi, minus voluptates repudiandae in cum cupiditate qui nostrum tempora impedit eius corrupti sit deserunt? Qui, repudiandae ex!
        Cum quibusdam magnam sequi sint tenetur corporis? Unde dolorum explicabo reiciendis corporis distinctio. Quos veritatis at esse et accusamus ad repellat quas eligendi quibusdam voluptas! Reiciendis quod quibusdam voluptatum at.
      </p>
      </div>
      <div class="contents">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magni quisquam saepe, sint tenetur impedit fugit dolores sequi dolorum eligendi numquam temporibus inventore! Aliquid eos delectus nisi quidem excepturi. Iusto.</p>
      </div>
      <div class="contents">
        <button>BOOK NOW &nbsp;&nbsp;<i class="fa-solid fa-angle-right"></i></button>
      </div>

    </div>
  </div>
  <div class="Aboutus-contents">
    <div class="Aboutus-inner-contents side-contents">
      <div class="contents">
        <h4>About us</h4>
      </div>
      <div class="contents">
        <h2>Let's Know <span>About us</span></h2>
      </div>
      <div class="contents">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt itaque iusto magnam quasi, minus voluptates repudiandae in cum cupiditate qui nostrum tempora impedit eius corrupti sit deserunt? Qui, repudiandae ex!
        Cum quibusdam magnam sequi sint tenetur corporis? Unde dolorum explicabo reiciendis corporis distinctio. Quos veritatis at esse et accusamus ad repellat quas eligendi quibusdam voluptas! Reiciendis quod quibusdam voluptatum at.
      </p>
      </div>
      <div class="contents">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magni quisquam saepe, sint tenetur impedit fugit dolores sequi dolorum eligendi numquam temporibus inventore! Aliquid eos delectus nisi quidem excepturi. Iusto.</p>
      </div>
      <div class="contents">
        <button>BOOK NOW &nbsp;&nbsp;<i class="fa-solid fa-angle-right"></i></button>
      </div>

    </div>
    <div class="Aboutus-inner-contents section">
      <div class="section-2-image">
        <img src="./assets/About/section2/picture-1.svg" alt="">
      </div>
    </div>
  </div>
  <div class="Aboutus-contents">
    <div class="Aboutus-inner-contents section">
      <div class="section-2-image">
        <img src="./assets/About/section3/mobile man.svg" alt="">
      </div>
    </div>
    <div class="Aboutus-inner-contents side-contents">
      <div class="contents">
        <h4>About us</h4>
      </div>
      <div class="contents">
        <h2>Let's Know <span>About us</span></h2>
      </div>
      <div class="contents">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt itaque iusto magnam quasi, minus voluptates repudiandae in cum cupiditate qui nostrum tempora impedit eius corrupti sit deserunt? Qui, repudiandae ex!
        Cum quibusdam magnam sequi sint tenetur corporis? Unde dolorum explicabo reiciendis corporis distinctio. Quos veritatis at esse et accusamus ad repellat quas eligendi quibusdam voluptas! Reiciendis quod quibusdam voluptatum at.
      </p>
      </div>
      <div class="contents">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium magni quisquam saepe, sint tenetur impedit fugit dolores sequi dolorum eligendi numquam temporibus inventore! Aliquid eos delectus nisi quidem excepturi. Iusto.</p>
      </div>
      <div class="contents">
        <button>BOOK NOW &nbsp;&nbsp;<i class="fa-solid fa-angle-right"></i></button>
      </div>

    </div>
  </div>
</div>
