<div class="homeapage">
  <div class="homepage-inner-contents">
    <div class="background-image">
      <img src="./assets/home/Section1/grass.webp" alt="">
    </div>

    <div class="homepage-contents">
      <div class="contents">
        <div class="homecontents">
          <div class="bars">
            <h2>Enjoy</h2>
          </div>
          <div class="bars">
            <h2>Unlimited</h2>
          </div>
          <div class="bars">
            <h2>Fun</h2>
          </div>
        </div>
        <div class="homecontents">
          <div class="withoutbars">
            <h1>Practice</h1>
          </div>
          <div class="withoutbars">
            <h1>Makes</h1>
          </div>
          <div class="withoutbars">
            <h1>Permanent</h1>
          </div>
        </div>
      </div>
      <div class="contents centrecontents">
        <div class="homecontents">
          <img src={{AnimatedObject.centerImage}} alt="">
        </div>
        <div class="homecontents imageposition">
          <img src={{AnimatedObject.centerbackgroundImage}} alt="">
        </div>
      </div>
      <div class="contents bigbox">
        <div class="homecontents box">
          <img src={{AnimatedObject.sideImage}} alt="">
        </div>
        <div class="homecontents flexcontents">
          <div class="flexboxes">
            <img src={{AnimatedObject.bottomimage}} alt="">
          </div>
          <div class="flexboxes">
            <div class="boxes">
              <p>Be played by people <br> of all ages and all abilities</p>
            </div>
            <div class="boxes">
              <button>Enjoy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage-inner-contents">

  </div>
  <div class="homepage-inner-contents">

  </div>
  <div class="homepage-inner-contents">

  </div>
  <div class="homepage-inner-contents">

  </div>
</div>
