<div class="turf-details">
  <div class="turf-images">
    <img src="./assets/turfdetails/turf-2.jpeg" alt="">
    <div class="sub-turf-images">
      <div class="turf-sub-images">
        <img src="./assets/turfdetails/turf-3.jpeg" alt="">
      </div>
      <div class="turf-sub-images">
        <img src="./assets/turfdetails/turf-4.jpeg" alt="">
      </div>
      <div class="turf-sub-images">
        <img src="./assets/turfdetails/turf-5.jpeg" alt="">
      </div>
      <div class="turf-sub-images">
        <img src="./assets/turfdetails/turf-1.JPG" alt="">
      </div>
    </div>
  </div>
  <div class="turf-details-inner">
    <div class="turf-details-inner-contents">
      <h1>Turf 4</h1>
    </div>
    <div class="turf-details-inner-contents flexcontents">
      <div class="contents">
        <h3><i class="fa-solid fa-location-dot"></i> Fairlands</h3>
      </div>
      <div class="contents">
        <button>5 vs 5</button>
      </div>
      <div class="contents booknow">
        <button>BOOK NOW</button>
      </div>
    </div>
    <div class="turf-details-inner-contents">
      <h2>Available sports</h2>
    </div>
    <div class="turf-details-inner-contents flexcontents">
      <div class="textcontents">
        <div class="images">
          <img src="./assets/turfdetails/football.svg" alt="">
        </div>
        <div class="images">
          <label for="">football</label>
        </div>
      </div>
      <div class="textcontents">
        <div class="images">
          <img src="./assets/turfdetails/cricket.svg" alt="">
        </div>
        <div class="images">
          <label for="">cricket</label>
        </div>
      </div>
    </div>
  </div>
  <div class="turf-details-inner">
    <div class="turf-details-inner-contents">
      <h2>Address</h2>
    </div>
    <div class="turf-details-inner-contents">
      <h4>Fairlands Fairlands, Fairlands</h4>
    </div>
    <div class="turf-details-inner-contents flexcontents">
      <div class="Address-contents">
        <a href="">Direction <i class="fa-solid fa-location-arrow"></i></a>
      </div>
      <div class="Address-contents">
        <a href="">call <i class="fa-solid fa-phone-volume"></i></a>
      </div>
    </div>
  </div>
  <div class="turf-details-inner">
    <div class="turf-details-inner-contents">
      <h2>Venue Info</h2>
    </div>
    <div class="turf-details-inner-contents flexcontents">
      <div class="Address-contents">
        <label>pitch</label>
      </div>
      <div class="Address-contents">
        <label>Size: 12 x 12 Sq.ft.</label>
      </div>
    </div>
    <div class="turf-details-inner-contents column-contents">
      <div class="pitch-contents flexcontents">
        <div class="pitch-inner-contents">
          <img src="./assets/turfdetails/kit.svg" alt="">
        </div>
        <div class="pitch-inner-contents">
          <label>Equipments Provided</label>
        </div>
      </div>
      <div class="pitch-contents flexcontents">
        <div class="pitch-inner-contents">
          <img src="./assets/turfdetails/pitch.svg" alt="">
        </div>
        <div class="pitch-inner-contents">
          <label>Artificial Turf</label>
        </div>
      </div>
    </div>
  </div>
  <div class="turf-details-inner">
    <div class="turf-details-inner-contents">
      <h2>Amenities</h2>
    </div>
    <div class="turf-details-inner-contents flexcontents">
      <div class="Amenities-contents">
        <i class="fa-solid fa-money-bill"></i>
      </div>
      <div class="Amenities-contents">
        <label for="">UPI</label>
      </div>
    </div>
    <div class="turf-details-inner-contents flexcontents">
      <div class="Amenities-contents">
        <i class="fa-solid fa-toilet"></i>
      </div>
      <div class="Amenities-contents">
        <label for="">Toilet</label>
      </div>
    </div>
    <div class="turf-details-inner-contents flexcontents">
      <div class="Amenities-contents">
        <i class="fa-solid fa-person-half-dress"></i>
      </div>
      <div class="Amenities-contents">
        <label for="">changing Rooms</label>
      </div>
    </div>
    <div class="turf-details-inner-contents flexcontents">
      <div class="Amenities-contents">
        <i class="fa-solid fa-car"></i>
      </div>
      <div class="Amenities-contents">
        <label for="">Free Parking</label>
      </div>
    </div>
  </div>
  <div class="other-turfs">
    <div class="turf-details-inner-contents">
      <h2>Other Turfs</h2>
    </div>
  </div>
</div>
